<div id="searchHeader" class="row" style="">
	<div class="large-2 medium-2 small-3 columns">
		<a href="index.html"><h1 class="logo"><img src="images/logo-adl.png"></h1></a>
	</div>
	<div class="large-10 medium-10 small-9 columns">
		<input id="search" type="text" placeholder="Search">
	</div>
</div>

<nav>
	<div class="row">
		<div class="medium-8 columns">
			<a id="headerDashboard"><i class="fa fa-home"></i>Dashboard</a>
		</div>
		<div class="medium-4 columns">
			<a href="#" data-dropdown="drop1"><i class="fa fa-user"></i> <span id="headerUsername" class="username"></span></a>
			<ul id="drop1" class="f-dropdown" data-dropdown-content>
				<li><a id="headerLogout">Log Out</a></li>
				<li><a data-reveal-id="modalResetPassword" data-reveal>Change Settings</a></li>
			</ul>
		</div>
	</div>
</nav>