<div id="defaultHeader" class="row" style="z-index:10">
	<div class="medium-12 columns">
		<a href="http://www.adlnet.gov/">
			<h1 class="logo"><img src="images/logo-adl.png"> ADVANCED <span>DISTRIBUTED LEARNING</span> </h1>
		</a>
	</div>
</div>

<div id="searchHeader" class="row" style="display: none; z-index:10">
	<div class="large-2 medium-2 small-3 columns">
		<a href="index.html"><h1 class="logo"><img src="images/logo-adl.png"></h1></a>
	</div>
	<div class="large-10 medium-10 small-9 columns">
		<input id="search" type="text" placeholder="Search">
	</div>
</div>

<nav style="z-index:10">
	<div class="row">
		<div class="medium-12 columns hide-on-login">
			<ul id="searchTypes" class="tabs">
				<li id="interactivTab" class="tab active"><a>Interactive Search</a></li>
				<li id="basicTab" class="tab"><a>Basic Search</a></li>
			</ul>
		</div>		
	</div>
</nav>