<div id="content">
	<div id="student" class="home screen">
		<div class="row">
			<div class="large-6 columns">
				<div class="row">
					<div class="small-12 columns">
						<h3>Personal Topics</h3>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<ul class="horzList">
							<li><a>All</a></li>
							<li class="selected"><a>World War II</a></li>
							<li><a>Mediterranean Cuisine</a></li>
							<li><a title="Add topics"><i class="fa fa-plus-circle"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="small-10 columns">
						<p>Recent LR posts about <a>World War II</a></p>
					</div>
					<div class="small-2 columns">
						<p>
							<a><i class="fa fa-pencil"></i> Edit</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<div id="" class="">
							<div id="number of results" class="row">
								<div class="small-12 columns">
									<p class="resultCounter">Showing 5 out of 1,234 results</p>
								</div>
							</div>
							<div class="row result">
								<div class="preview medium-3 columns hide-for-small-only">
									<a target="_blank" href="http://example.com"><img
										src="images/thumbnail-search-result.jpg">
										<div class="rollover">
											<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
											<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
										</div>
									</a>
								</div>
								<div class="medium-9 small-12 columns">
									<h5>
										<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
										<span class="tools">
											<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a>
											<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a>
										</span>
									</h5>
									<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
									<p class="description">
										Dynamic <strong>geometry software</strong> is used to
										demonstrate early Greek attempts at the trisection of an angle
										and the squaring of a circle.
									</p>
									<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
									<p class="date">Posted on May 27, 2014</p>
								</div>
							</div>
							<div class="row result">
								<div class="preview medium-3 columns hide-for-small-only">
									<a target="_blank" href="http://example.com"><img
										src="images/thumbnail-search-result.jpg">
										<div class="rollover">
											<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
											<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
										</div>
									</a>
								</div>
								<div class="medium-9 small-12 columns">
									<h5>
										<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
										<span class="tools">
											<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a>
											<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a>
										</span>
									</h5>
									<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
									<p class="description">
										Dynamic <strong>geometry software</strong> is used to
										demonstrate early Greek attempts at the trisection of an angle
										and the squaring of a circle.
									</p>
									<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
									<p class="date">Posted on May 27, 2014</p>
								</div>
							</div>
							<div class="row result">
								<div class="preview medium-3 columns hide-for-small-only">
									<a target="_blank" href="http://example.com"><img src="images/thumbnail-search-result.jpg">
										<div class="rollover">
											<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
											<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
										</div>
									</a>
								</div>
								<div class="medium-9 small-12 columns">
									<h5>
										<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
										<span class="tools">
											<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a>
											<a title="Find similar" class="button tiny secondary"><iclass="fa fa-search"></i> Similar</a>
										</span>
									</h5>
									<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
									<p class="description">
										Dynamic <strong>geometry software</strong> is used to
										demonstrate early Greek attempts at the trisection of an angle
										and the squaring of a circle.
									</p>
									<p class="source"><strong>Source:</strong> <em>SRI International on behalfof The National Science Digital Library</em></p>
									<p class="date">Posted on May 27, 2014</p>
								</div>
							</div>
							<a>Show more...</a>
						</div>
						<!--END results screen-->
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="row">
					<div class="small-12 columns">
						<h3>School Subjects</h3>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<ul class="horzList">
							<li class="selected"><a>All</a></li>
							<li><a>Geometry 301</a></li>
							<li><a>Economics 272</a></li>
							<li><a title="Add topics"><i class="fa fa-plus-circle"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="small-10 columns">
						<p>Recent LR posts for all subjects</p>
					</div>
					<div class="small-2 columns">
						<p><a><i class="fa fa-pencil"></i> Edit</a></p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<div id="" class="">
							<div id="number of results" class="row">
								<div class="small-12 columns">
									<p class="resultCounter">Showing 5 out of 1,234 results</p>
								</div>
							</div>
							<div class="row result">
								<div class="preview medium-3 columns hide-for-small-only">
									<a target="_blank" href="http://example.com">
										<img src="images/thumbnail-search-result.jpg">
										<div class="rollover">
											<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
											<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
										</div>
									</a>
								</div>
								<div class="medium-9 small-12 columns">
									<h5>
										<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
										<span class="tools">
											<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a>
											<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a>
										</span>
									</h5>
									<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
									<p class="description">
										Dynamic <strong>geometry software</strong> is used to
										demonstrate early Greek attempts at the trisection of an angle
										and the squaring of a circle.
									</p>
									<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
									<p class="date">Posted on May 27, 2014</p>
								</div>
							</div>
							<div class="row result">
								<div class="preview medium-3 columns hide-for-small-only">
									<a target="_blank" href="http://example.com">
										<img src="images/thumbnail-search-result.jpg">
										<div class="rollover">
											<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
											<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci </p>
										</div>
									</a>
								</div>
								<div class="medium-9 small-12 columns">
									<h5>
										<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
										<span class="tools">
										<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a>
										<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a></span>
									</h5>
									<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
									<p class="description">
										Dynamic <strong>geometry software</strong> is used to
										demonstrate early Greek attempts at the trisection of an angle
										and the squaring of a circle.
									</p>
									<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
									<p class="date">Posted on May 27, 2014</p>
								</div>
							</div>
							<div class="row result">
								<div class="preview medium-3 columns hide-for-small-only">
									<a target="_blank" href="http://example.com">
										<img src="images/thumbnail-search-result.jpg">
										<div class="rollover">
											<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
											<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
										</div>
									</a>
								</div>
								<div class="medium-9 small-12 columns">
									<h5>
										<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
										<span class="tools">
											<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a>
											<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a>
										</span>
									</h5>
									<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
									<p class="description">
										Dynamic <strong>geometry software</strong> is used to
										demonstrate early Greek attempts at the trisection of an angle
										and the squaring of a circle.
									</p>
									<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
									<p class="date">Posted on May 27, 2014</p>
								</div>
							</div>
							<a>Show more...</a>
						</div>
						<!--END results screen-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- EMD User home screen -->

	<div id="filter-tools" class="results screen">
		<div class="row">
			<div class="small-6 columns">
				<label>What would you like to see? <select>
						<option value="">Articles about geometry software</option>
						<option value="">Resources that use geometry software</option>
						<option value="">Downloadable geometry Software</option>
				</select>
				</label>
			</div>
			<div class="small-3 columns">
				<label>Authentication Preference <select>
						<option value="" default>Any</option>
						<option value="">Open</option>
						<option value="">Password Required</option>
						<option value="">Payment Required</option>
				</select>
				</label>
			</div>
			<div class="small-3 columns">
				<label>Peer Rating <select>
						<option value="" default>Any</option>
						<option value="">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
						<option value="">&#9733; &#9733; &#9733; &#9733;</option>
						<option value="">&#9733; &#9733; &#9733;</option>
						<option value="">&#9733; &#9733;</option>
						<option value="">&#9733;</option>
						<option value="">Not rated</option>
				</select>
				</label>
			</div>
		</div>
	</div>

	<div id="results" class="results screen">
		<div id="number of results" class="row">
			<div class="small-12 columns">
				<p class="resultCounter">Showing 10 out of 1,234 results</p>
			</div>
		</div>

		<div class="row result">
			<div class="preview medium-2 hide-for-small-only columns">
				<a target="_blank" href="http://example.com">
					<img src="images/thumbnail-search-result.jpg">
					<div class="rollover">
						<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
						<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
					</div>
				</a>
			</div>
			<div class="medium-7 small-8 columns">
				<h5>
					<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
					<span class="tools">
						<a class="button tiny secondary" title="Download this document"><iclass="fa fa-download"></i></a> 
						<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i>Similar</a>
					</span>
				</h5>
				<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
				<p class="description">
					Dynamic <strong>geometry software</strong> is used to demonstrate
					early Greek attempts at the trisection of an angle and the squaring
					of a circle.
				</p>
				<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
			</div>
			<div class="paradata medium-3 small-4 columns">
				<p>Reading Level: Grade 9</p>
				<p>Technical Level: Grade 12</p>
				<p>Bloom's Taxonomy: Level 9</p>
				<p class="reviews">
					<span class="stars"><span class="rating" style="width: 70%;"></span></span>
					3 reviews
				</p>
				<p class="views">123 views</p>
			</div>
		</div>
		<div class="row result">
			<div class="preview medium-2 hide-for-small-only columns">
				<a target="_blank" href="http://example.com">
					<img src="images/thumbnail-search-result.jpg">
					<div class="rollover">
						<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
						<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
					</div>
				</a>
			</div>
			<div class="medium-7 small-8 columns">
				<h5>
					<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
					<span class="tools">
						<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a> 
						<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i>Similar</a>
					</span>
				</h5>
				<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
				<p class="description">
					Dynamic <strong>geometry software</strong> is used to demonstrate
					early Greek attempts at the trisection of an angle and the squaring
					of a circle.
				</p>
				<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
			</div>
			<div class="paradata medium-3 small-4 columns">
				<p>Reading Level: Grade 9</p>
				<p>Technical Level: Grade 12</p>
				<p>Bloom's Taxonomy: Level 9</p>
				<p class="reviews">
					<span class="stars"><span class="rating" style="width: 70%;"></span></span>
					3 reviews
				</p>
				<p class="views">123 views</p>
			</div>
		</div>
		<div class="row result">
			<div class="preview medium-2 hide-for-small-only columns">
				<a target="_blank" href="http://example.com">
					<img src="images/thumbnail-search-result.jpg">
					<div class="rollover">
						<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
						<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
					</div>
				</a>
			</div>
			<div class="medium-7 small-8 columns">
				<h5>
					<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
					<span class="tools">
						<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a> 
						<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i>Similar</a>
					</span>
				</h5>
				<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
				<p class="description">
					Dynamic <strong>geometry software</strong> is used to demonstrate
					early Greek attempts at the trisection of an angle and the squaring
					of a circle.
				</p>
				<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
			</div>
			<div class="paradata medium-3 small-4 columns">
				<p>Reading Level: Grade 9</p>
				<p>Technical Level: Grade 12</p>
				<p>Bloom's Taxonomy: Level 9</p>
				<p class="reviews">
					<span class="stars"><span class="rating" style="width: 70%;"></span></span>
					3 reviews
				</p>
				<p class="views">123 views</p>
			</div>
		</div>
	</div>
	<!--END results screen-->

</div>
<!--END Content-->

<!-- MODAL DIALOGS -->
<div id="modalAddContent" class="reveal-modal medium" data-reveal>
	<h2><i class="fa fa-exclamation-triangle"></i> Please login</h2>
	<p>In order to upload content to the Learning Registry you need to login or create an account</p>
	<button>Login</button>
	<button class="secondary">Sign-up</button>
	<button class="secondary" onclick="$('#modalAddContent').foundation('reveal', 'close');">Cancel</button>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="modalResetPassword" class="reveal-modal medium" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<h2><i class="fa fa-ambulance"></i> Password Recovery</h2>
			<p>
				Please enter the email address you used when registering. If
				you no longer have access to that account you will need to
				re-register with your new email.
			</p>
		</div>
	</div>
	<form id="login" data-abide>
		<div class="row">
			<div class="large-12 columns">
				<div class="name-field">
					<label><i class="fa fa-envelope"></i> Email <input type="email" id="email" name="email" required> </label> 
					<small class="error">Enter the email address you used to register.</small>
				</div>
			</div>
		</div>
		<div class="large-12 columns">
			<button type="submit" onclick="alert('TO DO: The email reset option is not yet functional');">Reset</button>
			<a class="" data-reveal-id="modalLogin" data-reveal>Login</a>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>