<div id="content">
	<div id="activeSearch" class="home activeSearch screen" style="z-index:10">
		<div class="subheader">
			<div class="row">
				<div class="medium-8 columns">
					<h3>Experience the power of Interactive Search</h3>
				</div>
				<div class="medium-4 columns">
					<a data-reveal-id="modalRegister" data-reveal onclick="document.getElementById('register').reset();">Sign-up</a> | <a data-reveal-id="modalLogin" data-reveal>Login</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-8 columns">
				<p class="search-title">Explore the Learning Registry</p>
				<input id="search-home" type="text" placeholder="Search">
				<p class="search-beta">Interactive Search <strong>Beta</strong></p>
				<div id="whatIsThis" class="info-box">
					<!--                    <div class="link collapsed">-->
					<a class="link collapsed">What is Interactive Search?</a>
					<div class="more-info" style="display: none;">
						<div class="row">
							<div class="medium-12 columns">
								<p>
									Interactive Search does more than just offer search
									results, it asks you the right follow-up questions to make sure
									you get the most out of every search experience.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="medium-4 columns panel">
				<h5>Popular Resources</h5>
				<ul class="popular-resources">
					<li><strong>Title Here</strong><p><span class="date">23 Aug 2013</span>Description here</p></li>
					<li><strong>Title Here</strong><p><span class="date">23 Aug 2013</span>Description here</p></li>
					<li><strong>Title Here</strong><p><span class="date">23 Aug 2013</span>Description here</p></li>
				</ul>
				<hr>
				<p><strong>Interested in personalized Learning Registry content?</strong></p>
				<button class="small expand" data-reveal-id="modalRegister"data-reveal onclick="document.getElementById('register').reset();">Create an account</button>
			</div>
		</div>
	</div>
	<!--END interacive home screen-->

	<div id="basicSearch" class="home basicSearch screen" style="z-index:10">
		<div class="subheader">
			<div class="row">
				<div class="medium-12 columns">
					<h3>Compare your results to the traditional search</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-8 columns">
				<p class="search-title">Explore the Learning Registry</p>
				<input id="search-basic" type="text" placeholder="Search">
				<!--                    <p class="search-beta">Interactive Search <strong>Beta</strong></p>-->

				<div id="whatIsThis" class="info-box">
					<a class="link collapsed">What is Basic Search?</a>
					<div class="more-info" style="display: none;">
						<div class="row">
							<div class="medium-12 columns">
								<p>
									This is the current search used to find resources in the
									Learning Registry. Compare the results you get here to the
									Interactive Search.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="medium-4 columns panel">
				<h5>Popular Resources</h5>
				<ul class="popular-resources">
					<li><strong>Title Here</strong><p><span class="date">23 Aug 2013</span>Description here</p></li>
					<li><strong>Title Here</strong><p><span class="date">23 Aug 2013</span>Description here</p></li>
					<li><strong>Title Here</strong><p><span class="date">23 Aug 2013</span>Description here</p></li>
				</ul>
				<hr>
				<p><strong>Interested in personalized Learning Registry content?</strong></p>
				<button class="small expand">Create an account</button>
			</div>
		</div>
	</div>
	<!--END basic search home screen-->

	<div id="filter-tools" class="results screen" style="z-index:10">
		<div class="row">
			<div class="small-6 columns">
				<label>What would you like to see? <select>
						<option value="" default>Not Yet Implemented</option>
						<!-- <option value="">Articles about geometry software</option> -->
						<option value="">Resources that use geometry software</option>
						<option value="">Downloadable geometry Software</option>
				</select>
				</label>
			</div>
			<div class="small-3 columns">
				<label>Authentication Preference <select>
						<option value="" default>Not Yet Implemented</option>
						<option value="">Open</option>
						<option value="">Password Required</option>
						<option value="">Payment Required</option>
				</select>
				</label>
			</div>
			<div class="small-3 columns">
				<label>Peer Rating <select>
						<option value="" default>Not Yet Implemented</option>
						<option value="">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
						<option value="">&#9733; &#9733; &#9733; &#9733;</option>
						<option value="">&#9733; &#9733; &#9733;</option>
						<option value="">&#9733; &#9733;</option>
						<option value="">&#9733;</option>
						<option value="">Not rated</option>
				</select>
				</label>
			</div>
			<div class="TESelectedContainer" style="z-index:10">
				<div id="TESelected">
				</div>
			</div>
		</div>
	</div>

	<div class="large-3 columns">
		<div class="filterBoxes TEContainer screen">
	            <div class="TESuggestMain">
	                <div id="TESuggest" class="panel TESuggest">&nbsp;</div>
	            </div>
	            
	            <div id="TESuggest1x" class="TESuggestMini panel">
	                <p>Contains the word:</p>
	                <div id="TESuggest1" class="TESuggest">&nbsp;</div>
	            </div>
	            
	            <div id="TESuggest2x" class="TESuggestMini panel">
	                <p>Search by meaning:</p>
	                <div id="TESuggest2" class="TESuggest">
	                    &nbsp;
	                </div>
	            </div>
	            <div id="TESuggest3x" class="TESuggestMini panel">
	                <p>Search by keyword:</p>
	                <div id="TESuggest3" class=" TESuggest">
	                    &nbsp;
	                </div>
	            </div>
	            <div id="TESuggest4x" class="TESuggestMini panel">
	                <p>Described by topic:</p>
	                <div id="TESuggest4" class=" TESuggest">
	                    &nbsp;
	                </div>
	            </div>
	            <div id="TESuggest5x" class="TESuggestMini panel">
	                <p>Similar to document:</p>
	                <div id="TESuggest5" class=" TESuggest">
	                    &nbsp;
	                </div>
	            </div>
	            <div id="TESuggest6x" class="TESuggestMini panel">
	                <p>Contains the phrase:</p>
	                <div id="TESuggest6" class=" TESuggest">
	                    &nbsp;
	                </div>
	            </div>
        </div>
       </div>    

        <div id="resultRecords" class="resultRecords screen">
        </div>
        
	<!--
	<div id="results" class="results screen">
		<div id="number of results" class="row">
			<div class="small-12 columns">
				<p class="resultCounter">Showing 10 out of 1,234 results</p>
			</div>
		</div>
		<div class="row result">
			<div class="preview medium-2 hide-for-small-only columns">
				<a target="_blank" href="http://example.com"><img src="images/thumbnail-search-result.jpg">
					<div class="rollover">
						<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
						<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci </p>
					</div>
				</a>
			</div>
			<div class="medium-7 small-8 columns">
				<h5>
					<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
					<span class="tools">
						<a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a> 
						<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a>
					</span>
				</h5>
				<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
				<p class="description">
					Dynamic <strong>geometry software</strong> is used to demonstrate
					early Greek attempts at the trisection of an angle and the squaring
					of a circle.
				</p>
				<p class="source">
					<strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em>
				</p>
			</div>
			<div class="paradata medium-3 small-4 columns">
				<p>Reading Level: Grade 9</p>
				<p>Technical Level: Grade 12</p>
				<p>Bloom's Taxonomy: Level 9</p>
				<p class="reviews">
					<span class="stars"><span class="rating" style="width: 70%;"></span></span>
					3 reviews
				</p>
				<p class="views">123 views</p>
			</div>
		</div>
		<div class="row result">
			<div class="preview medium-2 hide-for-small-only columns">
				<a target="_blank" href="http://example.com"><img src="images/thumbnail-search-result.jpg">
					<div class="rollover">
						<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
						<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci </p>
					</div>
				</a>
			</div>
			<div class="medium-7 small-8 columns">
				<h5>
					<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
					<span class="tools"><a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a> 
					<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i> Similar</a></span>
				</h5>
				<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
				<p class="description">
					Dynamic <strong>geometry software</strong> is used to demonstrate
					early Greek attempts at the trisection of an angle and the squaring
					of a circle.
				</p>
				<p class="source">
					<strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em>
				</p>
			</div>
			<div class="paradata medium-3 small-4 columns">
				<p>Reading Level: Grade 9</p>
				<p>Technical Level: Grade 12</p>
				<p>Bloom's Taxonomy: Level 9</p>
				<p class="reviews">
					<span class="stars"><span class="rating" style="width: 70%;"></span></span>
					3 reviews
				</p>
				<p class="views">123 views</p>
			</div>
		</div>
		<div class="row result">
			<div class="preview medium-2 hide-for-small-only columns">
				<a target="_blank" href="http://example.com"><img src="images/thumbnail-search-result.jpg">
					<div class="rollover">
						<p><strong>Key Words:</strong> Geometry, Software, Rhombus, Quadrilateral, Pythagorean Theorem</p>
						<p><strong>Context:</strong> 15th century Italy, Leonardo da Vinci</p>
					</div>
				</a>
			</div>
			<div class="medium-7 small-8 columns">
				<h5>
					<a class="title" target="_blank" href="http://example.com">An Investigation of Historical Geometric with a really really long name alsdj asdouasdo sdfouasdo asdfouasdo </a> 
					<span class="tools"><a class="button tiny secondary" title="Download this document"><i class="fa fa-download"></i></a> 
					<a title="Find similar" class="button tiny secondary"><i class="fa fa-search"></i>Similar</a></span>
				</h5>
				<p class="link">http://mathdl.maa.org/mathDL/46/?pa=content&sa=viewDocument&nodeId=2361</p>
				<p class="description">
					Dynamic <strong>geometry software</strong> is used to demonstrate
					early Greek attempts at the trisection of an angle and the squaring
					of a circle.
				</p>
				<p class="source"><strong>Source:</strong> <em>SRI International on behalf of The National Science Digital Library</em></p>
			</div>
			<div class="paradata medium-3 small-4 columns">
				<p>Reading Level: Grade 9</p>
				<p>Technical Level: Grade 12</p>
				<p>Bloom's Taxonomy: Level 9</p>
				<p class="reviews">
					<span class="stars"><span class="rating" style="width: 70%;"></span></span>
					3 reviews
				</p>
				<p class="views">123 views</p>
			</div>
		</div>

	</div>
	!--END results screen-->

	<div id="student" class="user screen">
		<h1>Student Screen</h1>
		<p>Show stuff here</p>
	</div>

</div>
<!--END Content-->

<!-- MODAL DIALOGS -->

<!-- Login Modal -->
<div id="modalLogin" class="reveal-modal medium" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<h2>
				<i class="fa fa-smile-o"></i> Welcome back
			</h2>
		</div>
	</div>
	<form id="login" data-abide="ajax">
		<div class="row">
			<div class="large-12 columns">
				<div class="name-field">
					<label><i class="fa fa-envelope"></i> Email <input type="email" id="loginEmail" name="email" required> </label> 
					<small class="error">Enter the email address you used to register.</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="password-field">
					<label><i class="fa fa-lock"></i> Password <input type="password" id="loginPassword" name="password" required> </label> 
					<small class="error">Please enter your password.</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<!-- <button type="submit" onclick="login();">Login</button> -->
				<button type="submit">Login</button>
				<a class="" data-reveal-id="modalResetPassword" data-reveal>Recover password</a>
			</div>
		</div>
		<div class="row">
			<div id="loginErrorContainer" style="display:none"></div>			
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- Reset Password Modal -->
<div id="modalResetPassword" class="reveal-modal medium" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<h2>
				<i class="fa fa-ambulance"></i> Password Recovery
			</h2>
			<p>
				Please enter the email address you used when registering. If
				you no longer have access to that account you will need to
				re-register with your new email.
			</p>
		</div>
	</div>
	<form id="resetPassword" data-abide>
		<div class="row">
			<div class="large-12 columns">
				<div class="name-field">
					<label><i class="fa fa-envelope"></i> Email <input type="email" id="resetEmail" name="email" required> </label> 
					<small class="error">Enter the email address you used to register.</small>
				</div>
			</div>
		</div>
		<div class="large-12 columns">
			<button type="submit" onclick="alert('TO DO: The email reset option is not yet functional');">Reset</button>
			<a class="" data-reveal-id="modalLogin" data-reveal>Login</a>
		</div>		
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- Create Account Modal -->
<div id="modalRegister" class="reveal-modal medium" data-reveal>
	<div class="row">
		<div class="small-12 columns">
			<h2>
				<i class="fa fa-check-square"></i> Get personalized results
			</h2>
			<p>Login or create an account for advanced Learning Registry results</p>
		</div>
	</div>
	<form id="register" data-abide="ajax">
		<div class="row">
			<div class="large-6 columns">
				<div class="name-field">
					<label><i class="fa fa-user"></i> First Name <input type="text" id="firstName" name="firstName" required pattern="[a-zA-Z]+"> </label> 
					<small class="error">Is this really your first name?</small>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="name-field">
					<label><i class="fa fa-user"></i> Last Name <input type="text" id="lastName" name="lastName" required pattern="[a-zA-Z]+"> </label> 
					<small class="error">Is this really your last name?</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="email-field">
					<label><i class="fa fa-envelope"></i> Email <input type="email" id="newEmail" name="newEmail" required> </label> 
					<small class="error">A valid email address is required.</small>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="email-field">
					<label><i class="fa fa-envelope"></i> Confirm Email <input type="email" id="confirmEmail" name="confirmEmail" required required data-equalto="newEmail" data-invalid=""> </label> 
					<small class="error">Your emails don't match.</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="password-field">
					<label><i class="fa fa-lock"></i> Password <input type="password" id="newPassword" name="newPassword" required></label> 
					<small class="error">Please enter a password.</small>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="password-field">
					<label><i class="fa fa-lock"></i> Confirm Password <input type="password" id="confirmPassword" name="confirmPassword" required data-equalto="newPassword" data-invalid=""> </label> 
					<small class="error">Passwords don't match.</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="access-field">
					<label><i class="fa fa-key"></i> Access Code <input type="text" id="accesscode" name="accesscode" required> </label> 
					<small class="error">You'll need a valid access code to register.</small>
				</div>
			</div>
			<div class="large-6 columns">
				<label>All fields are required</label>
				<button type="submit" class="small">Submit</button>
				<button type="reset" class="small secondary">Reset</button>
			</div>
		</div>
		<div class="row">
			<div id="registrationErrorContainer" style="display:none"></div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>