.TESelectedLink {
	margin-top: 5px;
}

.TEContainer {
	position: fixed;
	top: 75px;
	margin-top: 125px;
	width: 200px;
}

#resultRecords {
	position:relative;
	left: 300px;
	width: 650px;
	top : 205px;
}

.tooltipx 
{
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}
.tooltipx span 
{
    margin-left: -999em;
    position: absolute;
}
.tooltipx:hover span 
{
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
}
.tooltipx:hover img 
{
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltipx:hover em 
{
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}

.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.panel
{
    border-radius: 8px;
}

#TESearchResultsBox li
{
    list-style: none;
    border-bottom: none;
}

/* Rollover added filter */
#TESelected a:hover strong
{
    text-decoration:line-through;
}

/* Expand or collapse context filter results */
.TESuggestMini
{
    height: 100px;
    overflow-y: hidden;
    word-wrap: break-word;
/*    cursor: pointer;*/
    transition: height 1s;
}
.TESuggestMini.full
{
    height: inherit;
}
.TESuggestMini p
{
    cursor:pointer;
}

/* ---- GENERAL ---- */

.hidden, .hide { display: none !important; }

.show { display: block !important; }

.showNonImportant { display: block; }

body
{
    box-sizing: border-box;
    color: #333;
}
.screen 
{
    display: none; /* hide all screens until needed */
}
.screen > .subheader
{
    margin: 0;
    padding: 1rem;
    background-color: #0099FF;
    -moz-box-shadow: inset 0 0 40px #003D66;
    -webkit-box-shadow: inset 0 0 40px #003D66;
    box-shadow: inset 0 0 40px #003D66;
    overflow: auto;
    background: #0099FF url(../images/bg-header-adl.jpg) center no-repeat;
    background-size: cover;
    color: white;
}
.screen > .subheader h3
{
    font-family: georgia, serif;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.screen > .subheader a
{
    color: white;
    padding: 0 .5em;
}
.screen > .subheader a:hover
{
    color: #aaa;
}

/* ---- TOOLBAR ---- */

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0;
    color: white;
    background-color: #000;
/*    overflow: hidden;*/
}
.header a
{
    color: white;
}
.header h1.logo 
{
    color: #aaa;
    white-space: nowrap;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.header .logo img
{
    width: 100px;
    vertical-align: baseline;
}
.header nav
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #222222;
    border-top: 1px solid #434343;
    border-bottom: 1px solid #101010;
    background-image: -ms-linear-gradient(top, #2c2c2c 2%, #262626 30%, #222222 95%);
    background-image: -moz-linear-gradient(top, #2c2c2c 2%, #262626 30%, #222222 95%);
    background-image: -o-linear-gradient(top, #2c2c2c 2%, #262626 30%, #222222 95%);
    background-image: -webkit-gradient(linear left top, left bottom, color-stop(0.02,#2c2c2c), color-stop(0.3, #262626), color-stop(0.95, #222222));
    background-image: -webkit-linear-gradient(top, #2c2c2c 0%,	#2c2c2c 5%, #262626 30%,#222222 95%);
    background-image: linear-gradient(to bottom, #2c2c2c 2%, #262626 30%, #222222 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2c2c2c, endColorstr=#222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#222222');
}
.header nav .tabs
{
    white-space: nowrap;
    margin: 0;
}
.header nav .tab
{
    display: inline-block;
    padding: 3px 2em;
    margin-top: 5px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.header nav .tab:hover
{
    background-color: #444;
}
.header nav .tab.active
{
    background-color: #0463a6;
    background-image: linear-gradient(to bottom, #0085e0 2%, #0463a6 95%);
}
.header nav .tab a
{
    color: white;
    text-shadow: black 2px 2px 2px;
}
.header nav .tab.active a
{
/*
    color: #0099FF;
    text-shadow: 0px 2px 0px rgba(0,0,0,.3);
*/
}

/* ---- SPLASH SCREEN - Interactive Search home ---- */

.home.screen
{
    position: fixed;
    top: 100px; /* match height of toolbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    //padding-top: 2rem;
}

.home.screen .search-title
{
    font-weight: bold;
    color: #999;
    padding: 0;
    margin: 4rem 0 0 0;
}
.home.screen .search-beta 
{
    float: right;
    color: #999;
    padding: 0;
    margin: 0;
}

/* ---- POPULAR RESOURCES Sidebar ---- */

.popular-resources
{
    margin: 0;
}
.popular-resources li
{
    list-style-type: none;
}
.popular-resources p
{
    font-size: 0.75rem;
}
.popular-resources .date
{
    display: block;
    color: #aaa;
}

/* ---- INFO BOX ---- */

#whatIsThis
{
    position: relative;
    margin: 2rem 0;
}
.info-box > .collapsed:before
{
    content: url(../images/section-minimized.png);
    padding: 0 5px 0 0;
}
.info-box > .expanded:before
{
    content: url(../images/section-expanded.png);
    padding: 0 5px 0 0;
}
.info-box .more-info 
{ 
    margin: 1em 0;
}

/* ---- SEARCH INPUT ---- */

#search,
#search-home,
#search-basic
{
    background-image: url(../images/icon-search-input.png);
    background-position: center right;
    background-repeat: no-repeat;
}

#search
{
    margin-top: .7em;
}
body.typing
{
    background-color: #ddd;
}

/* ---- SEARCH RESULTS ---- */

#filter-tools
{
    position: fixed;
    top: 100px; /* match height of toolbar */
    left: 0;
    right: 0;
    height: 70px;
    background-color: #eee;
}
#filter-tools label
{
    font-weight: bold;
    
}
#results
{
    position: fixed;
    top: 150px; /* height of .toolbar + height of #filter-tools */
    padding: 1em 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.result
{
    margin-bottom: 1.5em !important;
}
.result p
{
    margin: 0;
    padding: 0;
}
.resultCounter
{
    font-size: 0.8rem;
    color: #666;
    padding: 0;
    margin: 0 0 0.5em 0;
}
.preview img
{
    border: 1px solid #ddd;
}
.preview .rollover
{
    display: none;
    position: absolute;
    top: 0px;
    left: 155px;
    width: 300px;
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 1em 1em 0 1em;
    z-index: 10;
    color: #333;
}
.preview .rollover p
{
    font-size: 12px;
    margin-bottom: 1em;
}
.preview:hover .rollover 
{
    display: block;
}
.result .title
{
    position: absolute;
    left: 1rem;
    right: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result .tools
{
    position: absolute;
    right: 1rem;
    white-space: nowrap;
}
.result .button
{
    height: 24px;
    padding: 5px 1em;
    margin: 0;
    font-size: 0.8rem;
}
.result .link
{
    margin-top: 2rem;
    font-size: 0.8rem;
    color: green;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    width: 100%;
}
.result .source
{
    position: relative;
    font-size: 0.8rem;
    color: #666;
}
.result .paradata p
{
    font-size: 0.8rem;
    color: #666;
}
.reviews .stars
{
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    width: 100px;
    height: 20px;
    background: transparent url(../images/star.gif) 0 0 repeat-x;
}
.reviews .stars .rating
{    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 20px;
    vertical-align: middle;
    background: transparent url(../images/star.gif) 0 -20px repeat-x;
}

/* ---- STUDENT & TEACHER Screens (shared styles) */

.horzList { 
    margin: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: auto; 
}
.horzList li { 
    padding: 0 0 0.5em 0;
    margin-right: 1em;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
.horzList .selected { 
    border-color: red;
}
.horzList li:hover { 
    border-color: #ccc;
}