<div id="x-srRowResult" class="row result">
    <div id="x-srThumbnail" class="preview medium-1 hide-for-small-only columns">
        <a id="x-srThumbnailAnchor" target="" href="">
        	<img id="x-srThumbnailImage" src=""/>        	
        </a>
    </div>
    <div id="x-srDetails"class="medium-11 small-8 columns">
        <h5><a id="x-srDetailsAnchor" class="title" target="" href=""><span id="x-srDetailsTitle"></span></a></h5>
        <p class="link"><span id="x-srDetailsLink"></span></p>
        <p class="description">
        	<span id="x-srDetailsDesc"></span>
        	<a id="x-srDetailsToggle" style="display:none;font-size:12px;font-weight:bold">Toggle</a>
        	<span id="x-srDetailsToggleStatus" style="display:none"></span>
        </p>        
        <p class="source"><strong>Source: </strong><em><span id="x-srDetailsSource"></span></em></p>
    </div>    
</div>