<div id="x-srRowResult" class="row result">
    <div id="x-srThumbnail" class="medium-2 hide-for-small-only columns">
    	<div class="row" style="margin:0px">
	    	<div id="x-srFlipThumbnail" class="flip-container">
				<div class="flipper">
					<div class="flipFront"><a id="x-srThumbnailAnchor1" target="" href=""><img id="x-srThumbnailImage" src=""/></a></div>
					<div class="flipBack"><a id="x-srThumbnailAnchor2" target="" href=""><img src="images/file-document-back-small.png"/></a></div>
				</div>			
			</div>
	        <a id="x-srThumbnailAnchor" target="" href=""><img id="x-srThumbnailImage" src=""/></a>
		</div>		
    </div>
    <div id="x-srDetails"class="medium-10 small-8 columns">
        <h5><a id="x-srDetailsAnchor" class="title" target="" href=""><span id="x-srDetailsTitle"></span></a></h5>
        <div id="x-resultTools" style="display:none">
	        <span class="tools" style="padding-right: 10px">	        	
	        	<a id="x-srDetailsEdit" class="button tiny secondary" title="Edit your contribution"><i class="fa fa-pencil"></i></a>
	        	<a id="x-srAddToCollection" class="button tiny secondary" title="Add to a collection"><i class="fa fa-folder-open"></i></a>
	        	<a id="x-srDetailsGenerateMd" class="button tiny secondary" title="Automatically Generate Metadata"><i class="fa fa-bolt"></i></a>
	        	<a id="x-srDetailsPublish" class="button tiny secondary" title="Publish your contribution to the Learning Registry"><i class="fa fa-globe"></i></a>
	        	<a id="x-srDetailsDelete" class="button tiny alert" title="Delete your contribution"><i class="fa fa-trash-o"></i></a>        	
	        </span>
	    </div>
        <p class="link"><span id="x-srDetailsLink"></span></p>
        <p class="source" style="display:none"><strong>Resource Type: </strong><em><span id="x-srDetailsType"></span></em></p>
        <p class="description">
        	<span id="x-srDetailsDesc"></span>
        	<span id="x-srDetailsEmptyDesc"><i style="color:#A4A4A4">Edit your contribution to add a description</i></span>
        	<a id="x-srDetailsToggle" style="display:none;font-size:12px;font-weight:bold">Toggle</a>
        	<span id="x-srDetailsToggleStatus" style="display:none"></span>
        </p>
        <div id="x-srDetailsFileNameDiv" style="display:none"><p class="source"><strong>File Name: </strong><em><span id="x-srDetailsFileName"></span></em></p></div>
        <div id="x-srDetailsFileSizeDiv" style="display:none"><p class="source"><strong>File Size: </strong><em><span id="x-srDetailsFileSize"></span></em></p></div>
        <div id="x-srDetailsMimeTypeDiv" style="display:none"><p class="source"><strong>Mime Type: </strong><em><span id="x-srDetailsMimeType"></span></em></p></div>
        <div id="x-srDetailsUploadDateDiv" style="display:none"><p class="source"><strong>Uploaded: </strong><em><span id="x-srDetailsUploadDate"></span></em></p></div>        
        <div id="x-srDetailsUpdateDateDiv" style="display:none"><p class="source"><strong>Updated: </strong><em><span id="x-srDetailsUpdateDate"></span></em></p></div>             
        <div id="x-srDetailsLrIdDiv" style="display:none">
        	<p class="source">
        		<strong>Learning Registry ID: </strong>
        		<em><a id="x-srDetailsLrAnchor" target="" href="" title="View your contribution in the Learning Registry"><span id="x-srDetailsLrId"></span></a></em>
        	</p>
        </div>
        <div id="x-srDetailsLrPublishDateDiv" style="display:none">
        	<p class="source">
        		<strong>Last Publish Date: </strong>
        		<em><span id="x-srDetailsLrPublishDate"></span></em>
        	</p>
        </div>
    </div>   
</div>