
        <div id="filter-tools" class="results">
            <div class="row">
                <div class="small-6 columns">
                    <label>What would you like to see?
                        <select>
                            <option value="">Articles about geometry software</option>
                            <option value="">Resources that use geometry software</option>
                            <option value="">Downloadable geometry Software</option>
                        </select>
                    </label>
                </div>
                <div class="small-3 columns">
                    <label>Authentication Preference
                        <select>
                            <option value="" default>Any</option>
                            <option value="">Open</option>
                            <option value="">Password Required</option>
                            <option value="">Payment Required</option>
                        </select>
                    </label>
                </div>
                <div class="small-3 columns">
                    <label>Peer Rating
                        <select>
                            <option value="" default>Any</option>
                            <option value="">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
                            <option value="">&#9733; &#9733; &#9733; &#9733;</option>
                            <option value="">&#9733; &#9733; &#9733; </option>
                            <option value="">&#9733; &#9733; </option>
                            <option value="">&#9733; </option>
                            <option value="">Not rated</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div class="filterBoxes TEContainer">
            <div class="TESuggestMain">
                <div id="TESuggest" class="panel TESuggest">&nbsp;</div>
            </div>
            
            <div id="TESuggest1x" class="TESuggestMini panel">
                <p>Contains the word:</p>
                <div id="TESuggest1" class="TESuggest">&nbsp;</div>
            </div>
            
            <div id="TESuggest2x" class="TESuggestMini panel">
                <p>Search by meaning:</p>
                <div id="TESuggest2" class="TESuggest">
                    &nbsp;
                </div>
            </div>
            <div id="TESuggest3x" class="TESuggestMini panel">
                <p>Search by keyword:</p>
                <div id="TESuggest3" class=" TESuggest">
                    &nbsp;
                </div>
            </div>
            <div id="TESuggest4x" class="TESuggestMini panel">
                <p>Described by topic:</p>
                <div id="TESuggest4" class=" TESuggest">
                    &nbsp;
                </div>
            </div>
            <div id="TESuggest5x" class="TESuggestMini panel">
                <p>Similar to document:</p>
                <div id="TESuggest5" class=" TESuggest">
                    &nbsp;
                </div>
            </div>
            <div id="TESuggest6x" class="TESuggestMini panel">
                <p>Contains the phrase:</p>
                <div id="TESuggest6" class=" TESuggest">
                    &nbsp;
                </div>
            </div>
        </div>
            
        <div id="results" class="results records">
            <!--
            <div id="number of results" class="row">
                <div class="small-12 columns">
                    <p class="resultCounter">Showing 10 out of 1,234 results</p>
                </div>
            </div>
            -->
                        
        </div><!--END results screen-->