<div id="defaultHeader" class="row">
	<div class="medium-12 columns">
		<a href="http://www.adlnet.gov/">
			<h1 class="logo"><img src="images/logo-adl.png"> ADVANCED <span>DISTRIBUTED LEARNING</span> </h1>
		</a>
	</div>
</div>

<div id="searchHeader" class="row" style="display: none">
	<div class="large-2 medium-2 small-3 columns">
		<a href="index.html"><h1 class="logo"><img src="images/logo-adl.png"></h1></a>
	</div>
	<div class="large-10 medium-10 small-9 columns">
		<input id="userLRSearchHeaderInput" type="text" placeholder="Search">
		<span id="searchIcon" style="position: absolute;right: 18px;top: 11px;width: 32px;height: 35px;cursor: pointer;"></span>
	</div>
</div>

<nav>
	<div class="row">
		 <div class="medium-6 columns hide-on-login">
			<ul id="searchTypes" class="tabs">
				<li id="userHomeTab" class="tab active"><a id="userHomeTabLink"><i class="fa fa-home"></i> Home</a></li>
				<li id="userLRSearchTab" class="tab"><a id="userLRSearchTabLink"><i class="fa fa-search"></i> Search</a></li>				
			</ul>
		</div>	
		<div class="medium-6 columns" style="padding-top: 12px;text-align:right">
			<span id="headerUserId"></span>
			<i class="fa fa-wrench"></i>&nbsp;
			<a id="headerUserPrefs">Preferences</a>
			<span id="headerUserPrefsDivider"> | </span>
			<a id="headerAdmin" style="display:none">Admin</a>
			<span id="headerAdminDivider" style="display:none"> | </span>			
			<a id="headerUserMgmt" style="display:none">User Management</a>
			<span id="headerUserMgmtDivider" style="display:none"> | </span>
			<a id="headerLogout">Log Out</a>			
		</div>
	</div>	
</nav>

