<div id="x-srRowResult" class="row result">
    <div id="x-srThumbnail" class="preview medium-2 hide-for-small-only columns">
        <a id="x-srThumbnailAnchor" target="" href="">
        	<img id="x-srThumbnailImage" src=""/>        	
        </a>
    </div>
    <div id="x-srDetails"class="medium-10 columns">
        <h5><a id="x-srDetailsAnchor" class="title" target="" href=""><span id="x-srDetailsTitle"></span></a></h5>
        <p class="link"><span id="x-srDetailsLink"></span></p>
        <p class="resourceWarning" id="x-srRedirectWarning"><strong>Warning:</strong> Resource URL may redirect</p>
        <p class="description">
        	<span id="x-srDetailsDesc"></span>
        	<a id="x-srDetailsToggle" style="display:none;font-size:12px;font-weight:bold">Toggle</a>
        	<span id="x-srDetailsToggleStatus" style="display:none"></span>
        </p>        
        <p class="source"><strong>Source: </strong><em><span id="x-srDetailsSource"></span></em></p>
        <p class="source"><strong>Uploaded: </strong><em><span id="x-srDetailsCreateDate"></span></em></p>
        <p class="source"><strong>Views: </strong><em><span id="x-srDetailsViewCount"></span></em></p>
        <p class="source"><strong>Collections: </strong><em><span id="x-srDetailsCollectionCount"></span></em></p>
        <p class="source"><strong><i class="fa fa-comments"></i></strong>
        	<em>&nbsp;<a id="x-srDetailsCommentsLink"><span id="x-srDetailsCommentsInfo">Be the first to comment on this resource</span></a></em>
        </p>      
        <span class="inline-rating">
            <ul class="star-rating">
               <li id="x-srDetailsRatingFill" class="current-rating" style="width:0%;"><!--  --></li>               
           </ul>
        </span>
        <span id="x-srDetailsRatingInfo" class="ratingInfo">Be the first to rate this resource</span>     
    </div>    
</div>