<div id="x-srRowResult" class="row result">
    <div id="x-srThumbnail" class="preview medium-2 hide-for-small-only columns">
    	<div class="row" style="width:75px; margin:0px">
	        <a id="x-srThumbnailAnchor" target="" href="">
	        	<img id="x-srThumbnailImage" src=""/>        	
	        </a>
        </div>
        <div id="x-srFlipBoxContainer" class="row" style="text-align: right; margin:10px 6px 10px 3px;">
        	
			<div id="x-srFlipFindSimilar" class="flip-container" style="display:inline-block; float: left;" >
				<div class="flipper">
					<a id="x-srFindSimilarLink">
						<span class="flipFront"><img src="images/app-review-front.png"/></span>
						<span class="flipBack"><img src="images/app-review-back-blue.png"/></span>
					</a>					
				</div>			
			</div>
			<div id="x-srFlipNewResource" class="flip-container" style="display:inline-block; float: right;">
				<div class="flipper">
					<a id="x-srNewResourceLink">
						<span class="flipFront"><img src="images/app-new-front-large.png"/></span>
						<span class="flipBack"><img src="images/app-new-back-large.png"/></span>
					</a>					
				</div>			
			</div>
			
			<div id="x-srFlipAddToCollection" class="flip-container" style="display:inline-block; float: left; margin-top:5px;">
				<div class="flipper">
					<a id="x-srAddToCollectionLink">
						<span class="flipFront"><img src="images/app-collections-front.png"/></span>
						<span class="flipBack"><img src="images/app-collections-new-back-large.png"/></span>
					</a>					
				</div>			
			</div>
        </div>
    </div>
    <div id="x-srDetails"class="medium-10 columns">
        <h5><a id="x-srDetailsAnchor" class="title" target="" href=""><span id="x-srDetailsTitle"></span></a></h5>
        <p class="link"><span id="x-srDetailsLink"></span></p>
        <p class="resourceWarning" id="x-srRedirectWarning"><strong>Warning:</strong> Resource URL may redirect</p>
        <p class="description">
        	<span id="x-srDetailsDesc"></span>
        	<a id="x-srDetailsToggle" style="display:none;font-size:12px;font-weight:bold">Toggle</a>
        	<span id="x-srDetailsToggleStatus" style="display:none"></span>
        </p>        
        <p class="source"><strong>Source: </strong><em><span id="x-srDetailsSource"></span></em></p>
        <p class="source"><strong>Uploaded: </strong><em><span id="x-srDetailsCreateDate"></span></em></p>
        <p class="source"><strong>Views: </strong><em><span id="x-srDetailsViewCount"></span></em></p>
        <p class="source"><strong>Collections: </strong><em><span id="x-srDetailsCollectionCount"></span></em></p>
        <p class="source"><strong><i class="fa fa-comments"></i></strong>
        	<em>&nbsp;<a id="x-srDetailsCommentsLink"><span id="x-srDetailsCommentsInfo">Be the first to comment on this resource</span></a></em>
        </p>               
        <span class="inline-rating">
            <ul class="star-rating">
               <li id="x-srDetailsRatingFill" class="current-rating" style="width:0%;"><!--  --></li>
               <li><a id="x-srDetailsRating-1" title="Click to rate this 'Poor'" class="one-star finger">1</a></li>
               <li><a id="x-srDetailsRating-2" title="Click to rate this 'Fair'" class="two-stars finger">2</a></li>
               <li><a id="x-srDetailsRating-3" title="Click to rate this 'Average'" class="three-stars finger">3</a></li>
               <li><a id="x-srDetailsRating-4" title="Click to rate this 'Good'" class="four-stars finger">4</a></li>
               <li><a id="x-srDetailsRating-5" title="Click to rate this 'Excellent'" class="five-stars finger">5</a></li>
           </ul>
        </span>
        <span id="x-srDetailsRatingInfo" class="ratingInfo">Be the first to rate this resource</span>            
    </div>    
</div>